{% extends "layout.html" %}

{% block title %}
    Cadastro
{% endblock %}

{% block main %}

    <h1>Cadastre-se</h1>
    <form action="/register" method="post">
        <input autocomplete="off" type="text" name="username" placeholder="Nome de usuário">
        <input autocomplete="off" type="password" name="password" placeholder="Senha">
        <input autocomplete="off" type="password" name="password_confirm" placeholder="Confirme sua senha">
        <button type="submit">Cadastrar</button>
    </form>

{% endblock %}
